REDDIT_CLIENT_ID=your_client_id_here
REDDIT_CLIENT_SECRET=your_client_secret_here
REDDIT_USER_AGENT=reddit-slack-bot/1.0 by u/your_username
SLACK_WEBHOOK_A=https://hooks.slack.com/services/XXX/YYY/ZZZ
SLACK_WEBHOOK_B=https://hooks.slack.com/services/XXX/YYY/ZZZ
